html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'OpenSans';
  src: local("OpenSans-Regular"),
    url("../fonts/AnyConv.com__OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local("OpenSans-Bold"),
    url("../fonts/AnyConv.com__OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: local("OpenSans-SemiBold"),
    url("../fonts/AnyConv.com__OpenSans-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  background-color: #FFFFFF;
}

/** {border:2px solid red}*/

:root {
  --color-white: #FFFFFF;
  --color-light-black: #333333;
  --color-black: #000000;
  --color-lilac: #9d5cd0;
  --color-dark-violet: #7943a4;
  --color-light-violet: #d1a9f0;
  --color-violet: #c283f3;
  --color-grey: #cacaca;
  --color-dark-grey: #999999;
  --color-light-grey: #666666;
  --color-dark-white: #ececec;
}

/* glob */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
}

.container {
  max-width: 1920px;
  width: 100%;
  padding: 0 160px;
  margin: 0 auto;
}

.btn-reset {
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
}

/*header */
.header {
  background-color: var(--color-black);
}

.container__header {
  position: relative;
  display: flex;
  padding-top: 30px;
  padding-bottom: 27px;
  justify-content: space-between;
  margin: 0 auto;
  background-color: var(--color-black);
}

.container__header-1024 {
  display: none;
}

.header__logo {
  max-width: 21%;
  margin-right: 179px;
}

.header__nav {
  margin-top: 5px;
  margin-right: auto;
}

.nav__item:not(:last-child) {
  margin-right: 60px;
}

.nav__link {
  font-size: 18px;
  font-weight: 600;
  line-height: 24.5px;
  outline: none;
  transition: color 0.3s ease-in-out;
  color: var(--color-white);
  position: relative;
  z-index: 1;
}

.nav__link::before {
  content: "";
  background-color: var(--color-dark-violet);
  left: -10px;
  right: -10px;
  bottom: 0;
  top: 0;
  position: absolute;
  outline: none;
  opacity: 0;
  z-index: -1;
}

.nav__link:focus::before {
  opacity: 1;
}

.nav__link:hover {
  color: var(--color-violet);
}

.nav__link:active {
  color: var(--color-dark-violet);
}

.nav__link:active::before {
  opacity: 0;
}

.header__button {
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  background-color: inherit;
  text-align: end;
  color: var(--color-white);
  position: relative;
  z-index: 2;
}

.header__button:focus::after {
  opacity: 1;
}

.header__button:focus svg::after {
  opacity: 1;
}

.header__button:hover svg,
.header__button:hover svg path {
  fill: var(--color-violet);
}

.header__button:hover {
  color: var(--color-violet);
}

.header__button:active {
  color: var(--color-lilac);
}

.header__button:active::after {
  opacity: 0;
}

.header__button:active svg,
.header__button:active svg path {
  fill: var(--color-lilac);
}

.header__button:active svg::after,
.header__button:active svg path::after {
  opacity: 0;
}

/*header__bottom*/
.header__bottom-block {
  display: flex;
  position: relative;
  z-index: 6;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 23px 160px 20.6px 160px;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
  margin-right: auto;
}

.menu__item {
  position: relative;
}

.menu__item:not(:last-child) {
  margin-right: 80px;
}

.menu__btn {
  display: flex;
  align-items: center;
  gap: 7px;
  color: var(--color-white);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  outline: none;
  position: relative;
  z-index: 0;
  transition-property: visibility, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.menu__btn-arrow {
  width: 8px;
  height: 8px;
  border-top: 2px solid var(--color-white);
  border-right: 2px solid var(--color-white);
  transform: rotate(135deg);
}

.menu__btn::after {
  content: "";
  position: absolute;
  background-color: var(--color-dark-violet);
  left: 0px;
  right: 0px;
  top: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
}

.menu__btn:focus::after {
  opacity: 1;
}

.menu__btn:hover {
  color: var(--color-lilac);
}

.menu__btn:hover path {
  stroke: var(--color-lilac);
}

.menu__btn:hover::after {
  opacity: 0;
}

.menu__btn.btn-reset.btn__active svg {
  transform: rotate(180deg);
}

.menu__btn.btn-reset.btn__active path {
  stroke: var(--color-dark-violet);
}

.menu__btn:active {
  color: var(--color-dark-violet);
}

.menu__btn:active::after {
  opacity: 0;
}

.dropdown {
  background-color: rgba(0, 0, 0, 0.5);
  width: 300px;
  position: absolute;
  padding: 40px;
  margin: 20px;
  top: 100%;
  visibility: hidden;
  opacity: 0;
  transition: visibility .3s ease-in-out, opacity .3s ease-in-out;
}

.dropdown.dropdown__active {
  visibility: visible;
  opacity: 1;
}

.dropdown__simplebar {
  height: 220px;
  padding-right: 20px;
}

.dropdown__item {
  min-height: 40px;
  padding: 10px;
  margin-bottom: 20px;
  color: var(--color-white);
  position: relative;
  z-index: 0;
  transition: background-color .3s ease-in-out;
}

.dropdown__item1 {
  background-image: url(../img/dropdown1_1.jpg);
}

.dropdown__item2 {
  background-image: url(../img/dropdown1-2.jpg);
}

.dropdown__item3 {
  background-image: url(../img/dropdown1-3.jpg);
}

.dropdown__item4 {
  background-image: url(../img/dropdown1-4.jpg);
}

.dropdown__item5 {
  background-image: url(../img/dropdown2-1.jpg);
}

.dropdown__item6 {
  background-image: url(../img/dropdown2-2.jpg);
}

.dropdown__item7 {
  background-image: url(../img/dropdown2-3.jpg);
}

.dropdown__item8 {
  background-image: url(../img/dropdown2-4.jpg);
}

.dropdown__item9 {
  background-image: url(../img/dropdown3-1.jpg);
}

.dropdown__item10 {
  background-image: url(../img/dropdown3-2.jpg);
}

.dropdown__item11 {
  background-image: url(../img/dropdown3-3.jpg);
}

.dropdown__item12 {
  background-image: url(../img/dropdown3-4.jpg);
}

.dropdown__item13 {
  background-image: url(../img/dropdown4-1.jpg);
}

.dropdown__item14 {
  background-image: url(../img/dropdown4-2.jpg);
}

.dropdown__item15 {
  background-image: url(../img/dropdown4-3.jpg);
}

.dropdown__item16 {
  background-image: url(../img/dropdown4-4.jpg);
}

.dropdown__item17 {
  background-image: url(../img/dropdown4-1.jpg);
}

.dropdown__item18 {
  background-image: url(../img/dropdown4-2.jpg);
}

.dropdown__item19 {
  background-image: url(../img/dropdown4-3.jpg);
}

.dropdown__item20 {
  background-image: url(../img/dropdown4-4.jpg);
}

.dropdown__item:last-child {
  margin-bottom: 0px;
}

.dropdown__link {
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
}

.dropdown__simplebar .simplebar-track.simplebar-vertical {
  background-color: var(--color-black);
  width: 2px;
}

.dropdown__simplebar .simplebar-scrollbar {
  background-color: var(--color-white);
  width: 2px;
}

.dropdown__item::after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: 2px solid var(--color-violet);
  background-color: rgba(194, 131, 243, 0.4);
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.dropdown__item:focus {
  outline: 2px solid var(--color-lilac);
  background-color: rgba(157, 92, 208, 1);
}

.dropdown__link:focus {
  outline: none;
}

.dropdown__item:hover {
  outline: 2px solid var(--color-lilac);
}

.dropdown__item:active::after {
  opacity: 1;
}

/*Поиск*/
.search-block {
  display: flex;
}

.search-btn {
  outline: none;
  transition: color 0.3s ease-in-out;
  color: var(--color-white);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-btn svg {
  background-position: center;
}

.search {
  border: none;
  max-width: 220px;
  width: 100%;
  text-align: left;
  display: inline-block;
  display: flex;
  border-bottom: 1px solid var(--color-white);
  background-color: initial;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: var(--color-white);
  animation-duration: 0.3s;
  animation-name: ease-in-out;
}

.search::placeholder {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: var(--color-white);
}

.search:focus,
.search:hover,
.search:active {
  border-bottom: 2px solid var(--color-dark-violet);
  outline: none;
}

.search:focus::placeholder {
  text-decoration: none;
  font-size: 0;
}

.search:active::placeholder {
  color: var(--color-white);
  text-decoration: var(--color-white);
}

.search-form {
  display: none;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 0;
  background-color: #ffffff;
  padding: 16px;
  animation-duration: 0.3s;
  animation-name: ease-in-out;
}

.search-form_show {
  display: flex;
}

.search-form__input {
  padding: 5px;
  border: none;
  border-bottom: 1px solid #CACACA;
  border-radius: 0;
}

.search-form__send {
  margin-right: 20px;
  border: none;
  background-color: #ffffff;
}

/*hero */
.hero {
  position: relative;
  background-repeat: no-repeat;
  overflow: visible;
}

.container__hero {
  padding: 60px 160px 155px 160px;
}

.one-swiper {
  position: absolute;
  left: 0px;
  top: -71.2px;
  bottom: 0px;
  width: 100%;
}

.one-swiper-slide {
  width: 100%;
}

.one-swiper-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-content {
  position: relative;
  z-index: 1;
  pointer-events: none;
}

.hero__title {
  width: 34%;
  margin: 0;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  margin-bottom: 0px;
  color: var(--color-white);
}

.hero__descr {
  width: 34%;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: var(--color-white);
  margin-bottom: 105px;
}

.hero__btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 24.5px;
  padding: 22.5px 35px;
  color: var(--color-white);
  border-radius: 100px;
  background-color: var(--color-lilac);
  transition: background-color 0.3s ease-in-out;
  pointer-events: auto;
  position: relative;
}

.hero__btn:focus {
  outline: 2px solid var(--color-light-violet);
}

.hero__btn::after {
  content: "";
  left: -5px;
  right: -5px;
  bottom: -5px;
  top: -5px;
  position: absolute;
  outline: 2px solid var(--color-violet);
  border-radius: 100px;
  opacity: 0;
}

.hero__btn:hover::after {
  opacity: 1;
}

.hero__btn:active {
  background-color: var(--color-dark-violet);
  outline: 3px solid var(--color-light-violet);
}

.hero__btn:active::after {
  opacity: 0;
}

/*about */
.about {
  padding: 78px 0px;
}

.title {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 65.4px;
}

.descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin: 0;
}

.about__descr {
  max-width: 65%;
  font-size: 15.5px;
}

/*gallery*/
.gallery {
  background-image: url("/project/img/gallery.jpg");
}

.container__gallery {
  padding: 70px 160px;
  display: flex;
}

.gallery-blockleft {
  max-width: 28%;
  width: 100%;
  margin-right: 50px;
}

.title-gallery {
  color: var(--color-white);
}

/*checkbox*/
.checktext {
  color: var(--color-white);
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
}

.checkblock {
  display: flex;
  flex-direction: column;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.custom-checkbox {
  user-select: none;
  cursor: pointer;
  margin-bottom: 17px;
}

.custom-checkbox__text {
  position: relative;
  padding-left: 26px;
  color: var(--color-white);
}

.custom-checkbox__text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  outline: 1px solid #ffffff;
}

.custom-checkbox__text::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 12px;
  height: 12px;
  background-image: url("/project/img/Ellipse\ gallery\ 16.svg");
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.custom-checkbox__input:checked+.custom-checkbox__text::after {
  opacity: 1;
}

.custom-checkbox__input:focus+.custom-checkbox__text::before {
  outline: 1px solid var(--color-violet);
}

.custom-checkbox__input--active+.custom-checkbox__text::after {
  opacity: 1;
}

.custom-checkbox__input--active+.custom-checkbox__text::before {
  outline: 1px solid var(--color-violet);
}

/*select*/
.selectblock {
  display: block;
  max-height: 40px;
  max-width: 400px;
  border-radius: 6px;
  outline: 1px solid var(--color-white);
  margin-bottom: 175px;
  background-color: initial;
}

.button,
select {
  height: 40px;
  min-width: 400px;
  background-color: inherit;
  color: var(--color-white);
}

.choices {
  height: 40px;
  max-width: 400px;
  border-radius: 6px;
  color: var(--color-white);
  background-color: initial;
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 0px;
  border-radius: 6px;
}

.choices__list--dropdown .is-selected {
  display: none;
}

.choices__list--dropdown .choices__placeholder {
  display: none;
}

.choices[data-type*=select-one]::after {
  z-index: 0;
  border: none;
  margin-top: 0px;
  width: 15px;
  height: 15px;
  background-image: url("/project/img/Frame\ 17.svg");
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(-50%);
}

.choices__list--single:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.choices__inner {
  padding: 0px;
  background-color: inherit;
  border: none;
  border-color: inherit;
}

.choices__placeholder {
  opacity: 1;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: inherit;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  width: 100%;
  margin-top: 0px;
  padding: 0;
  border-radius: 6px;
  background-color: inherit;
  word-break: normal;
  z-index: 0;
}

.choices.is-open[data-type*=select-one]::after {
  margin-top: 0;
  transform: translateY(-50%) rotate(180deg);
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  border-bottom: 1px solid var(--color-white);
}
.choices__list--single {
  padding: 0px 4px 4px 4px;
}


.choices__item {
  padding: 10px 15px;
}

/*swiper-gallery*/
.swiper-gallery-block {
  max-width: 72%;
  padding-top: 30px;
}

.two-navigation {
  display: flex;
  padding-bottom: 25px;
  text-align: center;
}

.swiper-pagination-bullets {
  display: none;
}

.two-btn-next,
.two-btn-prev {
  color: inherit;
  outline: none;
}

.two-btn-next {
  padding: 0;
  cursor: pointer;
  border: none;
  background-repeat: no-repeat;
  background-color: inherit;
  margin-right: 0px;
  transition: background-color .3s ease-in-out;
}

.two-btn-prev {
  padding: 0;
  cursor: pointer;
  border: none;
  background-repeat: no-repeat;
  background-color: inherit;
  transition: background-color .3s ease-in-out;
}

button.two-btn-next.swiper-button-disabled svg path,
button.two-btn-prev.swiper-button-disabled svg path {
  cursor: auto;
  fill: var(--color-dark-white);
  stroke: var(--color-grey);
}

.two-btn-next:focus svg,
.two-btn-prev:focus svg {
  fill: var(--color-light-grey);
  outline: 2px solid var(--color-black);
}

.two-btn-next:hover path,
.two-btn-prev:hover path {
  fill: var(--color-lilac);
}

.two-btn-next:active path,
.two-btn-prev:active path {
  fill: var(--color-dark-violet);
}

.two-swiper-pagination {
  color: var(--color-white);
  max-width: 53px;
  position: initial;
  text-align: center;
  padding-left: 20px;
  padding-top: 7px;
  margin-right: 20px;
}

.two-swiper-slide {
  padding: 0;
  cursor: pointer;
  display: flex;
  transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}

.img-gallery {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.two-swiper-slide::before {
  content: "";
  right: 0;
  top: 0px;
  bottom: 0;
  left: 0px;
  position: absolute;
  background-image: url(/project/img/Gallery_hover.svg);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  visibility: hidden;
}

.two-swiper-slide:focus-visible::before {
  outline: 3px solid var(--color-dark-violet);
  background-image: none;
  opacity: 1;
  visibility: visible;
}

.two-swiper-slide:hover::before {
  opacity: 1;
  visibility: visible;
}

.two-swiper-slide:active::before {
  opacity: 1;
  background-color: rgba(194, 131, 243, 0.4);
}

/*popup*/
.modal {
  position: fixed;
  inset: 0;
  display: flex;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 100px;
  z-index: 10;
  overflow-y: auto;
  transition: all .8s ease 0s;
  display: none;
}

.popup__content {
  position: relative;
  margin: auto;
  max-width: 900px;
  padding: 120px 50px 90px 450px;
  background-color: var(--color-white);
  background-image: url(../img/popup.jpg);
  background-repeat: no-repeat;
  cursor: default;
}

.popup__title {
  margin-bottom: 5px;
}

.title__h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
}

.popup__h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}

.title__h5 {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.popup__h5 {
  margin-bottom: 40px;
}

.popup__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.popup__close {
  position: absolute;
  cursor: pointer;
  top: 15px;
  right: 20px;
}

.popup__close:focus path {
  fill: var(--color-lilac);
}

.popup__close:hover path {
  fill: var(--color-lilac);
}

.popup__close:active path {
  fill: var(--color-dark-violet);
}

/*catalog*/
.container__catalog {
  padding: 80px 160px 80px 160px;
}

.title-catalog {
  margin-bottom: 17px;
}

.catalog__descr {
  max-width: 70%;
  margin-bottom: 30px;
}

.catalog-block {
  display: flex;
  max-height: 1145px;
}

.tabs-item {
  display: none;
  max-width: 750px;
  max-height: 470px;
  background-image: url(../img/Catalog_tab2.jpg);
  background-repeat: no-repeat;
  width: 100%;
}

.tabs-item--active {
  display: flex;
  flex-direction: column;
  max-width: 750px;
  max-height: 470px;
  width: 100%;

}

.title-catalog-block-left {
  padding-top: 30px;
  margin-bottom: 6px;
}

.data-catalog-block-left {
  margin-bottom: 15px;
}

.title-catalog-block-left-two {
  padding-top: 500px;
  flex: 0;
  margin-bottom: 15px;
}

.text-catalog-block-left {
  flex: 1;
  /*overflow: auto;*/
}

/*accordion*/
.accordion-container {
  width: 100%;
  max-width: 850px;
  padding-left: 40px;
}

.ac .ac-trigger {
  position: relative;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  background-repeat: no-repeat;
  background-position: right;
}

.tabs-nav {
  column-count: 3;
  padding: 45px 0px;
}

.catalog__item:not(:first-child) {
  margin-top: -1px;
}

.catalog__item .catalog__link {
  display: flex;
  outline: none;
  align-items: center;
  justify-content: space-between;
  border: 1px solid transparent;
  border-bottom-color: var(--color-grey);
  border-top-color: var(--color-grey);
  margin-right: auto;
  padding: 31px 0px;
  cursor: pointer;
  transition: border-color 0.5s ease-in-out, color .5s;
  transition: transform .5s ease-in-out;
}

.ac .ac-trigger::after {
  content: "";
  transform: rotate(90deg);
}

.ac {
  margin-top: 0px;
  border: none;
  background-color: transparent;
}

.catalog__item:first-child .catalog__link {
  border-top-color: var(--color-grey);
}

.js-enabled,
.catalog__item.is-active .js-enabled {
  border-top-color: var(--color-dark-violet);
  border-bottom-color: var(--color-dark-violet);
}

.catalog-text {
  margin: 0;
  outline: none;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: var(--color-light-black);
  position: relative;
  transition: background-color 0.5s ease-in-out;
}

.catalog__link .catalog-text:focus:not(:hover):not(:active) {
  color: var(--color-white);
  background-color: var(--color-lilac);
}

.catalog-text:hover {
  color: var(--color-lilac);
}

.catalog-text:active {
  color: var(--color-dark-violet);
}

.catalog__item .catalog__link:focus svg path,
.catalog__item .catalog__link:hover svg path,
.catalog__item .catalog__link:active svg path {
  fill: var(--color-light-violet);
  outline: none;
}

.catalog__item .catalog__link:hover {
  border-top: 1px solid var(--color-light-violet);
  border-bottom: 1px solid var(--color-light-violet);
  color: var(--color-light-violet);
}

.catalog__item .catalog__link:active {
  border-top: 1px solid var(--color-dark-violet);
  border-bottom: 1px solid var(--color-dark-violet);
  color: var(--color-dark-violet);
}

.catalog__item.is-active svg {
  transform: rotate(180deg);
}

.catalog__item .catalog__link:active path {
  stroke: var(--color-lilac);
  fill: var(--color-black)
}

.catalog__item:first-child.is-active .catalog__link-active {
  overflow: visible;
  border-top-color: var(--color-dark-violet);
}

.catalog__item.is-active .catalog__link-active {
  overflow: visible;
  color: var(--color-dark-violet);
  border-top-color: var(--color-dark-violet);
  border-bottom-color: var(--color-dark-violet);
}

.catalog__item.is-active .catalog__link-active path {
  overflow: visible;
  stroke: var(--color-dark-violet);
  fill: var(--color-light-violet);
}

.catalog__item.is-active .catalog-text {
  overflow: visible;
  color: var(--color-dark-violet);
}

.tabs-nav__btn.tabs-nav__btn--active {
  visibility: visible;
  background-color: var(--color-lilac);
}

.tabs-nav__btn {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  transition: background-color .5s ease-in-out;
}

.tabs-nav__btn:focus {
  background-color: var(--color-lilac);
}

.tabs-nav__btn:hover {
  border-bottom: 2px solid var(--color-lilac);
}

.ac-panel-other {
  display: flex;
}

.ac-panel-block {
  margin-top: 37px;
  margin-bottom: 37px;
  margin-left: 14px;
  width: 251px;
  height: 165px;
  margin-right: 36px;
  background-color: var(--color-dark-grey);
  outline-offset: 12px;
  outline: 2px solid var(--color-dark-grey);
  transition-duration: 600ms;
  transition: transform .5s ease-in-out;
}

.ac-panel-txt {
  padding-top: 66px;
  display: flex;
  flex-direction: column;
}

.list-item-title {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 5px;
}

.list__item-text {
  margin: 0;
  max-width: 75%;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 5px;
}

.ac-panel-btn {
  padding: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: var(--color-lilac);
  text-align: left;
}

/*events*/
.title-events {
  margin-bottom: 13px;
}

.content-evehts {
  display: flex;
  flex-direction: column;
  height: 340px;
  margin-right: auto;
  padding: 10px 50px 50px 50px;
  border-bottom: 1px solid var(--color-grey);
  border-right: 1px solid var(--color-grey);
  border-left: 1px solid var(--color-grey);
}

.data-events {
  color: var(--color-dark-grey);
  font-weight: 600;
  margin-bottom: 13px;
}

.title-events-h3 {
  margin-bottom: 10px;
}

.title-events-h3-1024,
.text-events-1024 {
  display: none;
}

.text-events {
  flex: 1;
  margin-bottom: auto;
  overflow: auto;
}

.events-btn {
  width: 92px;
  outline: none;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--color-lilac);
  border-bottom: 1px solid var(--color-lilac);
}

.three-btn-next svg path,
.three-btn-prev svg path {
  fill: var(--color-dark-white)
}

.three-btn-next {
  position: absolute;
  cursor: pointer;
  border: none;
  background-repeat: no-repeat;
  background-color: inherit;
  margin-right: 0px;
  right: 140px;
  padding-top: 320px;
  z-index: 6;
}

.three-btn-prev {
  position: absolute;
  cursor: pointer;
  border: none;
  background-repeat: no-repeat;
  background-color: inherit;
  padding-top: 320px;
  left: 130px;
  z-index: 7;
}

.three-swiper-img {
  height: 100%;
  object-fit: cover;
}

button.three-btn-next.swiper-button-disabled svg path,
button.three-btn-prev.swiper-button-disabled svg path {
  cursor: auto;
  fill: none;
  stroke: none;
}

.three-btn-prev:focus,
.three-btn-next:focus {
  outline: none;
}

.three-btn-prev:focus path,
.three-btn-next:focus path {
  stroke: var(--color-lilac);
  outline: none;
}

.three-btn-prev:hover path,
.three-btn-next:hover path {
  fill: var(--color-light-violet);
}

.three-btn-prev:active path,
.three-btn-next:active path {
  fill: var(--color-light-violet);
}

.three-btn-prev:active path,
.three-btn-next:active path {
  stroke: var(--color-lilac);
}

.events-btn:focus:not(:hover):not(:active) {
  background-color: var(--color-lilac);
  color: var(--color-white);
}

.events-btn:hover {
  color: var(--color-dark-violet);
  border-bottom: 1px solid var(--color-dark-violet);
}

.events-btn:active {
  color: var(--color-light-black);
  border-bottom: 1px solid var(--color-light-black);
}

/*projects */
.container__projects {
  margin-top: 70px;
  margin-bottom: 57px;
}

.title-projects {
  margin-bottom: 16px;
}

.projects__descr {
  max-width: 67%;
  margin-bottom: 15px;
}

.projects__slider {
  padding: 21px 75px;
}

.swiper.four-swiper {
  height: 150px;
}

.four-swiper-slide1 {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid var(--color-grey);
  outline-offset: -1px;
  max-width: 100%;
  height: 100%;
  transition: all .3s ease-in-out;
}

.four-swiper-slide1:focus {
  outline: 1px solid var(--color-lilac);

}

.four-swiper-slide1:hover .four-swiper-img,
.four-swiper-slide1:active .four-swiper-img {
  filter: grayscale(0);
  opacity: 1;
}

.four-swiper-slide1:active {
  outline: 1px solid var(--color-lilac);
  opacity: 1;
}

.four-swiper-img {
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
  opacity: 0.4;
  object-fit: cover;
}

.four-btn-prev,
.four-btn-next {
  position: absolute;
  cursor: pointer;
  border: none;
  outline: none;
  background-repeat: no-repeat;
  background-color: inherit;
  margin-right: 0px;
  z-index: 6;
  transition: all 0.3s ease-in-out;
}

button.four-btn-next.swiper-button-disabled svg path,
button.four-btn-prev.swiper-button-disabled svg path {
  cursor: auto;
  fill: var(--color-dark-white);
  stroke: var(--color-grey);
}

.four-btn-prev {
  padding-top: 65px;
  left: 155px;
}

.four-btn-next {
  right: 155px;
  padding-top: 65px;
}

.four-btn-prev:focus svg path,
.four-btn-next:focus svg path {
  stroke: var(--color-lilac);
}

.four-btn-prev:hover path,
.four-btn-next:hover path {
  fill: var(--color-light-violet);
}

.four-btn-prev:active path,
.four-btn-next:active path {
  fill: var(--color-light-violet);
}

.four-btn-prev:active path,
.four-btn-nextt:active path {
  stroke: var(--color-lilac);
}

.projects-link:focus:not(:hover):not(:active) {
  outline: none;
  background-color: var(--color-lilac);
  color: var(--color-white);
  opacity: 1;
}

.projects-link:hover {
  color: var(--color-lilac);
  border-bottom: 1px solid var(--color-lilac);
  opacity: 1;
}

.projects-link:active {
  outline: none;
  color: var(--color-dark-violet);
  border-bottom: 1px solid var(--color-dark-violet);
  opacity: 1;
}

.tooltip__btn {
  width: 16px;
  height: 16px;
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.tippy-box {
  padding: 7px 7px 19px 7px;
  background-color: var(--color-lilac);
  color: var(--color-white);
  text-align: center;
}

.tippy-box>.tippy-arrow {
  color: var(--color-lilac)
}

.tooltip__btn:focus path,
.tooltip__btn:hover path {
  fill: var(--color-lilac);
}

.tooltip__btn:focus svg path,
.tooltip__btn:hover svg path {
  fill: var(--color-light-violet);
  stroke: var(--color-black);
}

.tooltip__btn:active svg path {
  fill: var(--color-lilac);
  stroke: var(--color-white);
}

/*contacts*/
.contacts {
  border-top: 1px solid var(--color-grey);
  border-bottom: 1px solid var(--color-grey);
}

.container__contacts {
  display: flex;
  padding: 40px 160px;
  align-items: center;
  margin-right: auto;
}

.contacts__block-left {
  margin-right: 85px;
}

.contacts__descr {
  font-size: 15px;
}

.form {
  display: flex;
  gap: 20px;
  margin-right: 80px;
}

.form__div-768 {
  display: flex;
  gap: 20px;
}

.form__div {
  position: relative;
}

.form__input {
  width: 270px;
  height: 50px;
  padding: 9px 24px;
  border: none;
  outline: 1px solid var(--color-light-black);
  color: var(--color-light-black);
  border-radius: 100px;
}

.form__btn-320 {
  display: none;
}

.form__btn {
  width: 329px;
  height: 50px;
  padding: 12px 36px;
  outline: 1px solid var(--color-lilac);
  border-color: var(--color-lilac);
  border-radius: 100px;
  color: var(--color-lilac);
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.form__btn::after {
  content: "";
  left: -5px;
  right: -5px;
  bottom: -5px;
  top: -5px;
  position: absolute;
  outline: 2px solid var(--color-light-violet);
  border-radius: 100px;
  opacity: 0;
}

.form__btn:focus::after {
  opacity: 1;
}

.form__btn:hover::after {
  opacity: 0;
}

.form__btn:hover {
  outline: 3px solid var(--color-light-violet);
  background-color: var(--color-lilac);
  color: var(--color-white);
}

.form__btn:active {
  background-color: var(--color-dark-violet);
  outline: 3px solid var(--color-light-violet);
  color: var(--color-white);
}

.form__btn:active::after {
  opacity: 0;
}

.title-contacts-h3 {
  font-size: 23px;
}

.contacts__icons-Whatsapp,
.contacts__icons-Telegram {
  cursor: pointer;
}

.contacts__icons-Whatsapp {
  margin-right: 15px;
}

.just-validate-error-field {
  outline: 2px solid #d11616;
}

.just-validate-error-label {
  position: absolute;
  top: -40px;
}

.form__input:focus {
  outline: 2px solid #d11616;
}

.form__input:focus {
  outline: 2px solid #d11616;
}

.form__input:focus,
.form__input:hover {
  background-color: var(--color-grey);
}

.contacts__icons-Whatsapp:focus,
.contacts__icons-Telegram:focus {
  outline: none;
}

.contacts__icons-Whatsapp:focus,
.contacts__icons-Telegram:focus,
.contacts__icons-Whatsapp:hover,
.contacts__icons-Telegram:hover {
  opacity: 50%;
}

.contacts__icons-Telegram:active,
.contacts__icons-Whatsapp:active {
  opacity: 100%;
}

.contacts__icons-Telegram:active svg,
.contacts__icons-Whatsapp:active svg {
  outline: 1px solid var(--color-black);
  border-radius: 50%;
  opacity: 100%;
}

/*map*/
.map {
  background-repeat: no-repeat;
  background-size: cover;
  height: 685px;
  overflow-x: hidden;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

.ymaps-2-1-79-copyright .ymaps-2-1-79-gotoymaps__container,
.ymaps-2-1-79-gototaxi,
.ymaps-2-1-79-gotoymaps,
.ymaps-2-1-79-gototech {
  display: none !important;
}

.ymaps-2-1-79-controls__toolbar_right {
  margin-top: 350px;
}

[class*="copyrights-pane"] {
  display: none !important;
}

.ymaps-2-1-79-controls-pane * {
  text-align: right !important;
}

.ymaps-2-1-79-controls__control {
  inset: auto !important;
  right: 35px !important;
  top: 270px !important;
}

/*footer*/
.footer__container {
  background-color: var(--color-black);
  padding: 50px 160px 45px 160px;
  display: flex;
}

.footer__logo {
  max-width: 21%;
  width: 100%;
  margin-right: auto;
}

.footer__icon:focus {
  outline: none;
}

.footer__icon-vk:focus svg path,
.footer__icon-ok:focus svg path,
.footer__icon-vk:hover svg path,
.footer__icon-ok:hover svg path {
  fill: var(--color-white);
}

.footer__icon-vk:active svg path,
.footer__icon-ok:active svg path {
  fill: var(--color-lilac);
}

.footer__icon:not(:last-child) {
  margin-right: 20px;
}
